/* iphone android*/
@media (min-width: 320px) and (max-width: 568px) {
  #menu ul, 
  #tagline, 
  #store {
    display:none;
  }

  .beerlist li {
  	margin: 10px;
  	float: none;
  	padding: 9px;
  	width: 28%;
  	font-size: 12px;
  	background-color: white;
  	list-style-type: none;
  } 

  .beerlist li:hover {
  	color: black;
  	background-color: white;
  }

  .titles {
    text-align: left;
  }
}

@media (min-width: 568px) {
  #menu select {
    display:none;
  }


}


