/***************************** Web Fonts ********************************/

@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

/****************************** Fixes ***********************************/

* {/* * = select all, fix for floating sections so everything can fit in all browsers as they are supposed to appear */ 
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

img, video, audio, iframe, form, table, figure { /* scale all media and images for responsive layout */
	width: 100%;
}

.clearfix:after { /*fix for collasping parent when child is floated*/ 
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/**************************** Global **************************************/
body {
	background-color: #39454C;
	margin: 0;
	padding: 0;
	height: 100%;
}

h2, h3 {
	margin-bottom: 5px;
}

ul, ol {
	margin-bottom: 10px;
}

li {
	margin-left: 25px;
	list-style-type: none;
	font-size: 14px;
}

p, address {
	margin: 0 0 15px 25px;
	font-size: 14px;
}

figure {
	margin: 0 0 10px;
}
	figcaption {
	font: normal 12px/1.5em 'Share Tech', sans-serif;
	color: #777; /* 16 color names, hexadecimal, rgba */
	text-align: right;
	padding-right: 20px;
	}

iframe {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 353px;
	width: 100%;
}

.titles {
	text-align: center;
}
.border_right {
	border-right: 1px dotted #96B5CC;
	padding-right: 20px;
}

.shadow {
	box-shadow: 0 3px 10px #333;
}

.nice_heading { 
	font-family: 'Helvetica', sans-serif;
	color: black;
	text-decoration: underline;
	margin: 10px 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
}


/******************* Header ******************/

header {
	margin: 0;
	/* position: relative; */
	/* display: block; */
	padding: 10px;
	width: 100%;
	/* max-width: 2000px; */
	height: 190px;
	background-image: url(../images/pattern.jpg);
	background-position: left top;
	background-repeat: repeat;
	border-bottom: 2px solid #FFF;
}

	/** Logo **/

	#mainLogo {
		margin: -13px 10px 18px 26px;
		width: 300px;
	}

	#tagline {
		position: absolute;
		display: inline-block;
		float: right;
		width: 852px;
		padding: 10px;
		margin: 27px 20px 0 43px;
		text-align: right;
		font: normal 28px/1.5em 'Quattrocento Sans', sans-serif;
		color: rgb(252,205,77);
		text-shadow: 0px 4px 5px #000;
		background-color: #639CBD; 
		border: 1px solid rgb(252,205,77);
	}

	/** Nav **/

	nav {
		margin: 10px 50px;
		position: relative;
		display: inline-block;
		height: 30px;
		text-align: center;
		width: 90%;
		
}

	nav ul li {
		display: inline;
	}

	nav a {
		width: 15%;
		padding: 5px;
		color: #9DB8FF;
		text-shadow: -2px -2px rgba(0,0,0,0.2);
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;			
		font-size: 21px;
		text-align: left;
		text-decoration: none;
	}

	nav a.selected {
		text-decoration: overline;
		color: #E4E44C; 
	}

	nav a:hover {
		margin: auto;
		background-color: rgba(143, 143, 143, 0.4);
		border-radius: 18%;
	}

	select {
		width: 94%;
		margin: 11px  0 11px 2%;
		float: left;
		display: inline;
	}

/******************** Content *************************/

.container {
	margin: auto;
	width: 100%;
	max-width: 960px;
	
}

#bgg {
	padding: 10px;
	padding-bottom: 30px;
	height: 100%;
	/*gradient*/
	background: rgb(235,241,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(137,195,235,1) 0%, rgba(117,184,222,1) 16%, rgba(245,247,160,1) 53%, rgba(117,184,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(0%,rgba(137,195,235,1)), color-stop(16%,rgba(117,184,222,1)), color-stop(53%,rgba(245,247,160,1)), color-stop(100%,rgba(117,184,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 0%,rgba(117,184,222,1) 16%,rgba(245,247,160,1) 53%,rgba(117,184,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 0%,rgba(117,184,222,1) 16%,rgba(245,247,160,1) 53%,rgba(117,184,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 0%,rgba(117,184,222,1) 16%,rgba(245,247,160,1) 53%,rgba(117,184,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 0%,rgba(117,184,222,1) 16%,rgba(245,247,160,1) 53%,rgba(117,184,222,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#75b8de',GradientType=0 );*/ /* IE6-9 */
	/* CSS3 allows for multi images incase the image is too small for all your content*/
}
	/*** Sections ***/
	address {
		font-style: normal;
		font-size: 14px;
		margin-bottom: 10px;
	}

	section {
		display:inline-block;
		padding: 13px;
		background: #F5F1E4;
	}

	section a {
	color: red;
	text-decoration: underline;
	}

	#gmap {
		height: 406px;
	}

	/* Positioning Classes */

	.col1_left {/* positioning one column of three to the left*/
		float: left;
		width: 32.6%;/* 100% of the page - 2% (1% margin on both the left and right sides) = 98% then /3 columns = 32.6% */
		margin: 0 0 20px;
	}

	.col1_mid {/* middle column thus margin */ 
		float: left;
		width: 32.6%;
		margin: 0 1% 20px 1%;/* here's the -2% maring to get32.6% */
	}

	.col1_right {
		float: right;
		width: 32.6%;
		margin: 0 0 20px;
	}

	.col2_left {/* positioning 2 columns */
		float: left;
		width: 66.4%;/* 100% - 1% margin (margin btw only 2 columns) = 99% then / 2 columns = 66,4% */
		margin: 0 1% 20px 0;
	}

	.col2_right {
		float: right;
		width: 66.4%;
		margin: 0 0 20px 1%;
	}

	.col3 {/* position takes up all 3 columns */
		margin: 0 0 20px;
	}

/********************* Inventory ***********************/
.beerlist li {
	margin: 10px;
	float: left;
	padding: 9px;
	width: 28%;
	font-size: 17px;
	background-color: white;
	list-style-type: none;
} 

.beerlist li:hover {
	color: white;
	background-color: black;
}

.other li {
	margin: 4px 3px 4px 19px;
	float: left;
	width: 40%;
	font-size: 18px;
	list-style-type: disc;
}

/********** Footer **********/

footer {
	text-align: center;
	font-size: 10px;
	height: 30px;
	color: #555;
	padding: 10px 0 20px;
	background-color: #EEE;
	position: absolute; 
	bottom: 0; 
	left: 0;
	width: 100%;
}

	footer a {
		color: #555;
		text-decoration: underline;
	}

/* code copyright Greg Goldberg 2013 */



	